body {
  background-color: beige;
}
ul {
  list-style: none;
}

.header-nav a {

	color: gray;
	font-family: Georgia;
	text-decoration: none;

}

.header-nav a:hover {
	color: tan;
}

#info-column {
  height: 100%;
  background-color: tan;
  border: 2px solid black;
  padding: 0;
  margin-top: 20px;
}
.article-content {
  padding: 01px 15px 01px 15px;
}
.article-heading, .footer-container, .page-title {
  height: 75px;
  position: relative;
  background-color: #dacca1;
  border-bottom: 2px solid white;
}
.article-heading hr {
  margin-top: 0;
}
.article-title {
  margin-left: 25px;
}
.article-content p {
  padding-left: 10px;
}
.article-heading h2 {
  padding-left: 5px;
}
.article-heading h4 {
  display: inline-block;
  margin-bottom: 4px;
  padding-right: 10px;
  float: right;
}
.article-heading small {
  display: inline-block;
  padding-right: 10px;
  float: right;
}
.article-heading-image {
  display: inline-block;
  float: right;
  background: url("assets/coffee.jpg") center / cover;
  height: inherit;
  width: 70px;
}
.article-heading-section {
  display: inline-block;
  position: absolute;
  width: 240px;
  height: inherit;
  bottom: 0;
  right: 0;
}
.article-photo {
  display: inline-block;
  float: left;
  padding: 0px 0px 0px 0px;
  max-width:100%;
  max-height:100%;
}
.right {
  float: right;
}
#header-top {
	width: 100%;
	background-color: beige;
	height: 300px;

}
.header-image {
	padding-right: 35px;
}
.header-image img {
	background-color: tan;
	width: 65px;
	height: 50px;
	padding-right: 10px;
}
.header-title {
	text-align:center;
	margin-top: 0%;
}
.header-title h1 {
	margin-top: 100px;
	margin-right: 10px;
	color: gray;
	font-family: Helvetica;
	font-size: 64px;
	display: inline-block;
}
.header-nav {
	text-align:center;
	font-family: Georgia;
}

.header-nav ul {
	padding-right: 4%;
	margin: 0 auto;
}

.header-nav li {
	color: gray;
	padding-right: 10px;
	font-size: 24px;
	text-align: center;
	display: inline-block;
}

.header-nav li:hover {
	color: brown;
	text-decoration: underline
}

.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: beige;
	min-width: 145px;
	height: 45px;
	box-shadow: 0px 8px 16px 0px;
	padding: 12px 16px 10px 0s;
	border: 1px solid black;
}
.dropdown:hover .dropdown-content {
	display:block;
}
.container {
	width: 960px;
	margin: 0 auto;
}

.container-donate {
	width: 960px;
	margin:0 auto;
	text-align:center;
	font-family: helvetica;
}

.container-donate h1 {
	display:inline;
	color:gray;
}
span {
	color: tan;
}
@media all and (max-width:984px) {
	.container {
		width:100%;
		margin: 0 auto;
	}
}
.membership-text {
  text-align: center;
  color: gray;
  text-decoration: none;
}
.cardholder {
  display: flex;
  align-content: center;
  justify-content: center;
}
.member-card-container {
  display: inline-block;
  width: 200px;
  height: 260px;
  position: relative;
  margin: 25px;
}
.front-side, .back-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 0.7s;
}
.front-side {
  color: white;
  background-color: tan;
  padding: 10px;
}
.back-side {
  background-color: #dacca1;
  transform: rotateY( 180deg );
  padding: 10px;
}
.member-card-container.effect:hover .front-side {
  transform: rotateY( 180deg );
}
.member-card-container.effect:hover .back-side {
  transform: rotateY( 0 );
}
.membership-image {
  max-width:100%;
  max-height:100%;
}
.card-text {
  color: white;
}
.back-side span{
  color: black;
}
.card-brew-info {
  display: block;
  margin-bottom: 5px;
  text-decoration: underline;
}
.contact-container {
  display: flex;
  flex-wrap: wrap;
}
.contact-form {
  flex-grow: 1;
}
.contact-row {
}
.contact-row {
  align-items: center;
}
.contact-right {
  text-align: right;
}


.article-donate {
	border: 1px solid black;
	background-color: tan ;
	padding-left: 5px;
}


.footer-elements {
  display: flex;
  flex-wrap: wrap;
}
.footer-group{
  display: inherit;
  flex-direction: row;
}
.footer-copy {
  color: white;
  align-self: flex-end;
}
.footer-link {
  padding-left: 10px;
}
