body {
  background-color: blue;
}

#article-column {
  height: 100%;
  background-color: tan;
  border: 2px solid black;
}
.article-content {
  padding: 0px 0px 0px 0px;
}
.article-heading {
  height: 75px;
  position: relative;
  background-color: #dacca1;
  border-bottom: 2px solid white;
}
.article-heading hr {
  margin-top: 0;
}
.article-content p {
  padding-left: 10px;
}
.article-heading h2 {
  padding-left: 5px;
}
.article-heading h4 {
  display: inline-block;
  margin-bottom: 4px;
  padding-right: 10px;
  float: right;
}
.article-heading small {
  display: inline-block;
  padding-right: 10px;
  float: right;
}
.article-heading-image {
  display: inline-block;
  float: right;
  background: url("assets/coffee.jpg") center / cover;
  height: inherit;
  width: 70px;
}
.article-heading-section {
  display: inline-block;
  position: absolute;
  width: 240px;
  height: inherit;
  bottom: 0;
  right: 0;
}

footer { color: #00FF00;
    display: block;
}


#header-top {
	width: 100%;
	background-color: white;
	height: 300px;

}

.header-title {
	text-align:center;
}

.header-title h1 {
	color: gray;
	font-family: Helvetica;
	font-size: 64px;
	display: inline-block;



}

.header-nav {
	text-align:center;
}

.header-nav li {
	font-size: 32px;
	text-align: center;
	display: inline-block;

}
